.wrapper {
  @apply flex w-[45%] flex-col gap-3;

  & img {
    mix-blend-mode: multiply;
  }

  @media (max-width: 768px) {
    width: 100%;
  }
}

.currentImage {
  @apply h-full max-h-[31.25rem] w-auto rounded-lg border-2 border-primary p-4;

  & img {
    @apply mx-auto w-auto object-contain;
    height: inherit;
  }
}

.images {
  @apply flex flex-wrap gap-3;

  & img {
    @apply h-full w-full rounded-lg object-contain;
  }
}

.button {
  @apply h-[6.25rem] w-[6.25rem] rounded-lg border-2 border-transparent p-2 transition-colors;

  &:hover {
    @apply border-[#46760A];
  }
}

.activeImage {
  @apply border-primary;
}
