.menuIcon {
  @apply z-[1] hidden h-[21px] w-[30px] flex-col items-end gap-[6px];

  span,
  &::before,
  &::after {
    content: '';
    @apply block h-[3px] w-full rounded-lg bg-white transition-all duration-300;
  }

  @media (max-width: 1024px) {
    display: flex;
  }
}

.menuActive {
  span {
    width: 65%;
  }

  &::after {
    width: 35%;
  }
}
