.header {
  @apply fixed left-0 top-0 w-full bg-black py-5;
  z-index: 101;
}

.container {
  @apply mx-auto max-w-[100rem] items-center gap-8 px-4;
}

.navigation {
  @apply flex-1 items-stretch gap-8 transition-all duration-300;
}

.overlay {
  @apply absolute inset-0 h-screen w-screen bg-black/70;
  z-index: 0;
}

@media (max-width: 1024px) {
  .container {
    justify-content: space-between;
  }
  .navigation {
    @apply absolute left-0 w-full -translate-x-full flex-col items-center border-t border-t-white/50 bg-black p-4 opacity-0;
    &Mobile {
      @apply translate-x-0 opacity-100;
    }
  }
}
