.wrapper {
  @apply grid gap-8;
  grid-template-columns: max-content 1fr;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.inner {
  width: 18.75rem;
}

.filter {
  @apply mb-4 flex flex-col gap-2 rounded-lg bg-white p-6 shadow-lg;
}
